name: Train Model with MLflow

on:
  push:
    branches:
      - main
  workflow_dispatch: # allows manual trigger

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: 3.8
          activate-environment: forecasting-env

      - name: Create Conda environment
        shell: bash -l {0}
        run: |
          conda env create -f conda.yaml
          
      - name: Run MLflow project
        shell: bash -l {0}
        run: |
          mlflow run . \
            --experiment-name github_ci \
            --run-name ci_run_${{ github.run_number }}