name: Train Model with MLflow

on:
  push:
    branches:
      - main
  workflow_dispatch: # allows manual trigger

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          environment-file: conda.yaml  # Ensure this points to your environment file
          activate-environment: mlflow-env  # Update to the environment name defined in conda.yaml

      - name: Set up dependencies
        run: |
          # If any additional dependencies need installation or updating, you can handle them here
          pip install -r requirements.txt
          pip install mlflow

      - name: Run MLflow Project
        run: |
          # Ensure the environment is properly set up using `conda run`
          export MLFLOW_CONDA_RUN_COMMAND="conda run --no-capture-output -n mlflow-env"  # Replace `mlflow-env` with your environment name
          
          # Run the MLflow project with the provided entry point and parameters
          mlflow run . -e main -P config=config/config.yaml -P run_name="ci_run_${{ github.run_number }}"
