name: Train Model with MLflow

on:
  push:
    branches:
      - main
  workflow_dispatch: # allows manual trigger

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Set up dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install mlflow

      - name: Run MLflow Project
        run: |
          mlflow run . -e main -P config=config/config.yaml -P run_name="ci_run_${{ github.run_number }}"
